body{
    background: #27282c;
}

.wrapper{
    width: 80%;
    margin: 120px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.single-img{
    width: 300px;
    margin: 0 15px;
    transition: 0.5s;
}

.single-img img{
    display: block;
    width: 100%;
    border-radius: 10px;
}

.single-img:hover{
    transform: scale(1.5);
    z-index: 3;
    box-shadow: 0 0 35px #1311EA;
}

.wrapper2{
    width: 80%;
    margin: 120px auto;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.single-img2{
    width: 300px;
    margin: 0 15px;
    transition: 0.5s;
}

.single-img2 img{
    display: block;
    width: 100%;
    border-radius: 10px;
}

.single-img2:hover{
    transform: scale(1.5);
    z-index: 3;
    box-shadow: 0 0 35px red;
}